<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="empfile">
	<resultMap type="empfile" id="empfileMap">
		<id column="EMPFILE_NO" property="empfileNo"/>
		<result column="EMPFILE_ORI" property="empfileOri"/>
		<result column="EMPFILE_RENAME" property="empfileRename"/>
		<result property="empNo" column="employee.employeeMap"/>
	</resultMap>
	
</mapper>
