<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="notice">
	<resultMap type="notice" id="noticeMap">
		<id column="NOTICE_NO" property="noticeNo"/>
		<result column="NOTICE_TITLE" property="noticeTitle"/>
		<result column="NOTICE_CONTENT" property="noticeContent"/>
		<result column="NOTICE_VIEWS" property="noticeViews"/>
		<result column="NOTICE_DATE" property="noticeDate"/>
		<result column="EMP_NO" property="empNo"/>
	</resultMap>
	
	<select id="selectAll" resultType="Map">
		SELECT * FROM EMPLOYEE
	</select>
	
	<!-- 메인 페이지에 보여줄 공지사항 조회 -->
	<select id="selectNoticeMainPage" resultType="hashMap">
		SELECT * FROM (
			SELECT ROW_NUMBER() OVER (ORDER BY NOTICE_DATE DESC) RNUM, N.*
			FROM NOTICE N
		) WHERE RNUM BETWEEN #{startRow} AND #{endRow}
	</select>
	
	<!-- 공지사항 리스트 조회 -->
	<select id="selectNoticeList" resultMap="noticeMap">
		SELECT * FROM NOTICE
	</select>

	<!-- 공지사항 추가 -->
	<insert id="insertNotice">
		INSERT INTO NOTICE (NOTICE_NO,NOTICE_TITLE,NOTICE_CONTENT,EMP_NO,NOTICE_VIEWS)
		VALUES (SEQ_NOTICE_NO.NEXTVAL,#{noticeTitle}, #{noticeContent}, #{empNo},0)
	</insert>

	<!-- 공지사항 상세 조회 -->
	<select id="selectNoticeDetail" resultMap="noticeMap">
		SELECT * FROM NOTICE WHERE NOTICE_NO = #{noticeNo}
	</select>

	<!-- 공지사항 수정 -->
	<update id="updateNotice">
		UPDATE NOTICE 
		SET NOTICE_TITLE = #{noticeTitle}, NOTICE_CONTENT = #{noticeContent}, EMP_NO = #{empNo}
		WHERE NOTICE_NO = #{noticeNo}
	</update>

	<!-- 공지사항 삭제 -->
	<delete id="deleteNotice">
		DELETE FROM NOTICE WHERE NOTICE_NO = #{noticeNo}
	</delete>

	<!-- 공지사항 조회수 증가 -->
	<update id="increaseViewCount">
		UPDATE NOTICE SET NOTICE_VIEWS = NOTICE_VIEWS + 1 WHERE NOTICE_NO = #{noticeNo}
	</update>
	
	
</mapper>
